
/***** Class "text" for long blocks of text *****/

.text {
    font-family: "Chrimson Text", serif;
    font-weight: normal;
    line-height: 1.5em;
}

.text li {
    margin: 1em 0;
}

.text ul li {
    list-style-type: square;
}

/***** Class "large-subsection" for large block *****/

.large-subsection {
    max-width: 800px;
}

/***** Class "grey-background" *****/

.no-background {
    background-color: transparent; /*#e4e4e4;*/
    box-shadow: none;
}

/***** Colors *****/

.color-primary {color: #844d36;}
.color-primary-light {color: #b67960;}
.color-primary-dark {color: #542410;}
.color-secondary {color: #7c4dff;}
.color-secondary-light {color: #b47cff;}
.color-secondary-dark {color: #3f1dcb;}

/***** Errors *****/

.errors {
    color: #ff0000;
    font-weight: normal;
}