/***** Colors *****
White: #ffffff
Grey:  #f2f2f2
Greyer:#e4e4e4
Dark:  #474853
Black: #000000
Red:   #844d36
Green: #8e8268
Blue:  #86b3d1
********************/

html {background: #f2f2f2;}

body, header, aside, section, article, h1, h2 {
    display: block;
    margin: 0;
    padding: 0;
}

/***** Header *****/

header {
    display: block;
    position: fixed;
    z-index: 10;
    top: 0;
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #844d36;
    box-shadow: 0 4px 4px #844d36;
    color: #ffffff;
}

header h1 {
    display: inline-block;
    margin: 0 120px 0 120px;
    letter-spacing: 0.05em;
    text-shadow: 0 1px 1px #f2f2f2;
}

header h2 {
    display: inline-block;
    font-size: smaller;
}

header div.user {
    display: inline-block;
    margin: 0 40px;
    /*float: right;*/
}

header a {
    color: #ffffff;
    text-decoration: none;
}

header a:hover {
    text-decoration: underline;
}

/***** Side *****/

aside {
    float: left;
    margin: 20px 10px;
    width: 180px;
    font-family: Arial, Helvetica, sans-serif;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li a {
    display: block;
    text-decoration: none;
    color: #844d36;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 10px;
}

aside li a:hover {
    background: #e4e4e4;
}

/***** Article *****/

article {
    margin: 80px 0 20px 200px;
}

article section {
    margin: 20px 40px;
    padding: 10px;
    min-width: 320px;
    background: #ffffff;
    border-radius: 10px;
    font-family: "Times New Roman", Times, serif;
}

article section.transparent {background: none;}

/***** Section *****/

section h1 {
    display: block;
    margin: 10px;
    color: #844d36;
    text-align: center;
    /*font-size: 1em;*/
}

section h1:after {
    content: ' ';
    display: block;
    border: 1px solid #844d36;
}

section h2 {
    display: block;
    color: #86b3d1;
    margin: 10px;
    text-align: center;
}

section table {
    display: inline-block;
    border-collapse: collapse;
}

section th {color: #844d36}

section td, th {
    text-align: left;
    padding: 8px;
}

section tr:nth-child(even) {
    background-color: #f2f2f2;
}

section table.clickable tr:hover td {
    cursor: pointer;
    background-color: #e4e4e4;
}

section table.clickable tr.selected {
    border: 2px solid #86b3d1;
}

section a {
    text-decoration: none;
    color: #844d36;
}

section a:hover {
    text-decoration: underline;
}

section a > i.material-icons {color: #8e8268;}

section a > i.material-icons:hover {
    cursor: pointer;
    color: #844d36;
}

section a.button {
    display: inline-block;
    border: none;
    padding: 8px 15px 8px 15px;
    text-decoration: none;
    background: #8e8268;
    color: #ffffff;
    box-shadow: 1px 1px 4px #474853;
    border-radius: 3px;
}

section a.button:hover {background: #844d36;}

section div.heading {
    border-bottom: 1px solid #844d36;
    margin-bottom: 15px;
}

section form {padding: 0 20px;}

section form input[type=submit], input[type=button] {
    border: none;
    cursor: pointer;
    margin-top: 1em;
    margin-right: 10px;
    padding: 8px 15px 8px 15px;
    background: #8e8268;
    color: #ffffff;
    box-shadow: 1px 1px 4px #474853;
    border-radius: 3px;
}

/*section form input[type=file] {*/
    /*cursor: pointer;*/
    /*padding: 8px 15px 8px 15px;*/
    /*border: 1px solid #8e8268;*/
    /*border-radius: 3px;*/
/*}*/

section form input[type=submit]:hover, input[type=button]:hover{background: #844d36;}

section form input[type=radio] + label {
    margin: 5px 0;
    padding: 0 10px;
}

/* Default values for many form elements */
section form select, input[type=text], input[type=password], input[type=file]{
    margin: 5px 0;
    padding: 0 10px;
    height: 2em;
    font-family: Verdana, Georgia, sans-serif;
}

section form input[type=text], input[type=password] {
    width: 200px;
    box-shadow: 1px 1px 1px #f2f2f2;
    border-radius: 3px;
}

section form textarea {
    margin: 5px 0;
    padding: 10px;
    box-shadow: 1px 1px 1px #f2f2f2;
    border-radius: 3px;
}

section form input[type=file] {
    cursor: pointer;
    border-radius: 3px;
}

section form > label {
    margin: 5px 0;
    clear: both;
    font-family: "Courier New", Courier, monospace;
    color: #8e8268;
}

section form span {
    display: inline-block;
    vertical-align: top;
}

section div.subsection {
    display: inline-block;
    /*width: 300px;*/
    vertical-align: top;
}

section div.subsection div.submit {
    width: 240px;
    text-align: right;
}

/***** Misc ******/

.errors {
    color: #ff0000
}

span.highlighted {
    color: #86b3d1;
}