/***** Colors *****
White: #ffffff
Grey:  #f2f2f2
Dark:  #474853
Black: #000000
Red:   #844d36
Green: #8e8268
Blue:  #86b3d1
********************/

html {background: #f2f2f2;}

body, header, aside, section, article, h1, h2 {
    display: block;
    margin: 0;
    padding: 0;
}

/***** Header *****/

header {
    display: block;
    position: fixed;
    top: 0;
    height: 40px;
    width: 100%;
    padding: 10px;
    background: #844d36;
    box-shadow: 0 4px 4px #844d36;
}

header h1 {
    display: inline-block;
    margin: 0 120px 0 120px;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-shadow: 0 1px 1px #f2f2f2;
}

header h2 {
    display: inline-block;
    color: #ffffff;
    font-size: smaller;
}

/***** Side *****/

aside {
    float: left;
    margin: 20px 10px;
    width: 180px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li a {
    display: block;
    text-decoration: none;
    width: 100%;
    height: 20px;
    margin: 0;
    padding: 10px;
}

aside li a:hover {
    background: #bdc1c2;
}

/***** Article *****/

article {
    margin: 80px 0 20px 200px;
}

article section {
    margin: 20px 40px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
}

article section.transparent {background: none;}

/***** Section *****/

section h1 {
    display: block;
    margin: 10px;
    color: #844d36;
    text-align: center;
    font-size: 2em;
}

section h1:after {
    content: ' ';
    display: block;
    border: 1px solid #844d36;
}

section h2 {
    display: block;
    color: #86b3d1;
    margin: 20px 0;
}

section table {
    display: inline-block;
    border-collapse: collapse;
}

section th {color: #844d36}

section td, th {
    text-align: left;
    padding: 8px;
}

section tr:nth-child(even) {
    background-color: #f2f2f2;
}

section a {
    text-decoration: none;
    color: #474853;
}

section a:hover {text-decoration: underline;}

section a.button {
    text-decoration: none;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #8e8268;
    color: #ffffff;
    box-shadow: 1px 1px 4px #474853;
    border-radius: 3px;
}

section a.button:hover {background: #f2f2f2;}

section div.heading {
    border-bottom: 1px solid #844d36;
    margin-bottom: 15px;
}

section input[type=submit], input[type=button], input[type=file] {
    border: none;
    cursor: pointer;
    padding: 8px 15px 8px 15px;
    background: #8e8268;
    color: #ffffff;
    box-shadow: 1px 1px 4px #474853;
    border-radius: 3px;
    margin-right: 10px;
}

section input[type=submit]:hover, input[type=button]:hover, input[type=file]:hover {
    background: #f2f2f2;
}

section textarea, input[type=text], input[type=password] {
    /*border: 1px solid #f2f2f2;*/
    margin: 5px 0;
    box-shadow: 1px 1px 1px #f2f2f2;
    border-radius: 3px;
}

section label {
    display: block;
    margin: 5px 0;
    clear: both;
}

section label > span {
    width: 150px;
    font-weight: bold;
    float: left;
}