/***** Colors *****
White: #ffffff
Grey:  #ccdbdc
Grey-10%: #bdc1c2
Dark:  #263d42
Black: #000000
Red:   #8e6c88
Green: #63c7b2
Blue:  #80ced7
********************/

html {background: #ccdbdc;}

body, header, aside, section, article, h1, h2 {
    display: block;
    margin: 0;
    padding: 0;
}

/***** Header *****/

header {
    display: block;
    height: 40px;
    padding: 10px;
    background: #8e6c88;
    box-shadow: 0 4px 4px #8e6c88;
}

header h1 {
    display: inline-block;
    margin: 0 120px 0 120px;
    color: #ffffff;
    letter-spacing: 0.05em;
    text-shadow: 0 1px 1px #ccdbdc;
}

header h2 {
    display: inline-block;
    color: #ffffff;
    font-size: smaller;
}

/***** Side *****/

aside {
    float: left;
    margin: 20px 10px;
    width: 100px;
}

aside ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

aside li a {
    display: block;
    text-decoration: none;
    width: 100px;
    height: 20px;
    margin: 0;
    padding: 10px;
}

aside li a:hover {
    background: #bdc1c2;
}

/***** Article *****/

article {
    margin: 20px 0 20px 120px;
}

article section {
    margin: 10px 40px;
    padding: 10px;
    background: #ffffff;
    border-radius: 10px;
}

article section.transparent {
    background: none;
}

/***** Section *****/

section h1 {
    display: block;
    margin: 10px;
    color: #8e6c88;
    text-align: center;
    font-size: 2em;
}

section h1:after {
    content: ' ';
    display: block;
    border: 1px solid #8e6c88;
}

section table {
    border-collapse: collapse;
    width: 100%;
}

section th {color: #8e6c88}

section td, th {
    /*border: 1px solid #ccdbdc;*/
    text-align: left;
    padding: 8px;
}

section tr:nth-child(even) {
    background-color: #ccdbdc;
}