/* Colors

Background grey: #ccdbdc
Background white: #ffffff
Background dark: #8e6c88
Background button: #63c7b2
Hyperlink: #263d42
Hyperlink focus: #8e6c88
Title: #263d42
Subtitle: #ccdbdc
 */

/* type selectors */
article, aside, figure, footer, header, nav, section {
    display: block;
}

html {
    background-color: #ccdbdc;
}

body {
    width: 964px;
    background-color: #ffffff;
    margin: 15px auto;
    padding: 5px 5px;
}

section, aside, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

section, aside {
    margin-top: 1.5em;
    margin-bottom: 1em;
}

aside {
    color: #8e6c88;
    width: 100px;
    float: left;
}



/*****************************************
Style for hyperlinks and hyperlink-buttons
 *****************************************/

a {text-decoration: none;}

a:link, a:visited {color: #263d42;}

/*a.current {color: #ef9c00;}*/

a:hover, a:focus {
    color: #8e6c88;
    text-decoration: underline;
}

a.button {
    text-decoration: none;
    border: none;
    padding: 8px 15px 8px 15px;
    background: #63c7b2;
    color: #ffffff;
    box-shadow: 1px 1px 4px #263d42;
    border-radius: 5px;
}

a.button:hover {background: #ccdbdc;}

/********************
Styles for the header
 ********************/

header {
    padding: 1em;
    background: #8e6c88;
}

header h1 {
    color: #263d42;
    text-shadow: 0 2px 2px #ccdbdc;
    margin-left: 120px;
}

header h2 {
    color: #ffffff;
    margin-left: 120px;
    font-size: small;
    letter-spacing: 0.1em;
}

header img {float: left;}

/*********************************
Styles for the side navigation bar
 *********************************/

#sidebarA ul {
    margin-left: 0;
    list-style: none;
}

#sidebarA li {
    margin-bottom: .5em;
}

/*********************
Styles for the section
 *********************/

section {
    /*width: 520px;*/
    padding-right: 20px;
    padding-left: 20px;
    float: left;
    border-left: 2px solid #8e6c88;
}

section h1 {
    color: #263d42;
    text-shadow: 0 2px 2px #ccdbdc;
    margin-bottom: 1em;
}

section h2 {
    color: #80ced7;
    margin-bottom: 1em;
}

/* product */
section img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

.clear_both {
    clear: both;
}

section table {
    border-collapse: collapse;
    width: 100%;
}

section th {color: #8e6c88}

section td, th {
    border: 1px solid #ccdbdc;
    text-align: left;
    padding: 8px;
}

section tr:nth-child(even) {
    background-color: #ccdbdc;
}

section input[type=submit], input[type=file] {
    border: none;
    padding: 8px 15px 8px 15px;
    background: #63c7b2;
    color: #ffffff;
    box-shadow: 1px 1px 4px #263d42;
    border-radius: 5px;
}

section input[type=submit]:hover, input[type=file]:hover {
    background: #ccdbdc;
}

/*!* email list *!*/
/*section label {*/
    /*float: left;*/
    /*width: 8em;*/
    /*margin-bottom: 0.5em;*/
    /*font-weight: bold;*/
    /*padding-top: 0.25em;*/
/*}*/

/*section input[type="text"], input[type="email"], input[type="password"] {*/
    /*width: 12em;*/
    /*margin-left: 0.5em;*/
    /*margin-bottom: 0.5em;*/
/*}*/

/*section input[type="submit"] {*/
    /*margin-left: 0.5em;*/
/*}*/

br {
    clear: both;
}

#submit {
    margin-left: 0.5em;
}

table {
    border: none;
}

th {
    vertical-align: bottom;
    text-align: left;
}

td {
    vertical-align: top;
}

th, td {
    padding: .3em;
}

.top {
    vertical-align: top;
}

/* the style for the cart pages */
.cart {
    width: 700px;
}

.cart label {
    float: left;
    width: 10em;
    font-weight: bold;
    padding-top: 0.25em;
}

.cart input[type="text"], input[type="email"], input[type="password"] {
    float: left;
    width: 12em;
    margin-left: 0.5em;
    margin-right: 0.2em;
}

.cart input[type="button"] {
    margin-left: 0.5em;
}

.cart select {
    margin-left: 0.5em;
    margin-right: 0.2em;
}

.cart_row input[type="text"] {
    width: 2em;
    margin-left: 0;
}

#required {
    margin-left: 8.5em;
    margin-bottom: .5em;
}

.required {
    color: red;
    margin-bottom: 0;
}

#quantity_text {
    width: 2em;
}

#float_left {
    float: left;
    margin-right: 1em;
}

/* the style for the admin pages */
#admin {
    width: 700px;
}

#admin form {
    margin-top: .5em;
}

#admin label {
    width: 14em;
    margin-left: .5em;
    padding-top: 0.25em;
}

#admin .left_margin {
    margin-left: 0;
}

/*!* the styles for the sidebars *!*/
/*aside h1 {*/
    /*font-size: 125%;*/
    /*padding-bottom: .5em;*/
/*}*/

/*aside h2 {*/
    /*font-size: 100%;*/
    /*color: green;*/
    /*padding-bottom: .5em;*/
/*}*/

/*aside p {*/
    /*margin-bottom: .5em;*/
/*}*/

/*aside img {*/
    /*margin-bottom: 1em;*/
/*}*/

/*#sidebarA {*/
    /*width: 100px;*/
    /*float: left;*/
    /*height: 400px;*/
    /*border-right: 2px solid #ef9c00;*/
/*}*/

/*#sidebarB {*/
    /*width: 100px;*/
    /*float: right;*/
    /*height: 400px;*/
    /*padding-left: 20px;*/
    /*border-left: 2px solid #ef9c00;*/
/*}*/

/* the styles for the footer */
footer {
    clear: both;
    margin-top: 1em;
    border-top: 2px solid #8e6c88;
    padding-top: 0.7em;
}

footer p {
    font-size: 80%;
    text-align: right;
}

/* The styles for the classes */
.pad_top {
    padding-top: 0.25em;
}

.no_pad_top {
    padding-top: 0;
}

.margin_left {
    margin-left: 0.5em;
}

.no_underline {
    text-decoration: none;
}