<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="http://java.sun.com/xml/ns/javaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
    version="3.0">

    <display-name>ADAP Compound Library</display-name>

    <!-- User Authentication -->

    <security-role>
        <description>Registered User</description>
        <role-name>registered</role-name>
    </security-role>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Protected Area</web-resource-name>
            <url-pattern>/submission</url-pattern>
            <url-pattern>/submission/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>registered</role-name>
        </auth-constraint>
    </security-constraint>

    <!-- Use basic authentication -->
    <login-config>
        <auth-method>BASIC</auth-method>
        <realm-name>User Login</realm-name>
    </login-config>
</web-app>
